<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162077080872-5q40eh5r51euma34tk97ukbsqqpu5jq7.apps.googleusercontent.com</string>
	<key>SERVER_CLIENT_ID</key>
    <string>162077080872-lbn2kmog6eqfklcsm5i0igtgtcrooi75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162077080872-5q40eh5r51euma34tk97ukbsqqpu5jq7</string>
	<key>API_KEY</key>
	<string>AIzaSyA76nN6urD8yOHw9SZaWWREGkMqFIs2NEw</string>
	<key>GCM_SENDER_ID</key>
	<string>162077080872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abn.abnRealtors</string>
	<key>PROJECT_ID</key>
	<string>abn-realtors</string>
	<key>STORAGE_BUCKET</key>
	<string>abn-realtors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162077080872:ios:facc47236b0f772c6c241d</string>
</dict>
</plist>